.App {
  text-align: center;
}

.Loading__screen {
  font-weight: 900;
  background-color: aquamarine;
}

.header__nav > a {
  padding: 10px;
  color: #61dafb;
}

.header__nav > a:hover {
  background-color: blanchedalmond;
}
.card {
  max-width: 500px;
}
